*.[oa]
*~
*.bak
*/[Cc][Mm]ake*
*.autosave
# do not ignore CMakeLists.txt
!CMakeLists.txt
Makefile
build/debug
build/release
doc/latex/*
!doc/latex/refman.pdf
RIRs
src/autogen
CMakeLists.txt.user
*.atfascene
src/atfa_api.h
